

  
  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    
    

  }

  

  .card-container {
    position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 16px;
    
  }

body {
  font: 300 100% 'Helvetica Neue', Helvetica, Arial;
  position: absolute;
    height: 100%;
    width: 100%;
    right: -8px;
    top: 7%;
    
    overflow-x: hidden;
}

