<app-header></app-header>

<body>
            <div class="content" role="main">
                <input type="hidden" #selection>
              
               
              
              <div class="card-container">
                 
                <div class="content" role="main">
                
                          <div class="row">
                            <div class="column"></div>
                                <div class="column column-50">
                            <chat-dialog></chat-dialog>
                            </div>
                              <div class="column"></div>
                          </div>
                    
                                                   
                
                      </div>
               
                
                
                </div>
                          </div>


 </body>